$color-purple: #79589f;
$color-purple-light: #a996c0;
$color-purple-dark: #5f467e;
$color-white: #fff;
$color-dark: #3f3f44;
$color-gray: #7d7d8e;
$color-border: #e7e7ec;
$color-border-dark: #ccc;
$color-border-darker: #bbb;
