@font-face {
	font-family: 'octicons';
	font-weight: normal;
	font-style: normal;
	src: url('/assets/fonts/octicons.eot?iefix') format('embedded-opentype'),
		url('/assets/fonts/octicons.woff') format('woff'),
		url('/assets/fonts/octicons.ttf') format('truetype'),
		url('/assets/fonts/octicons.svg') format('svg');
}

[data-octicons]:before {
	font-family: octicons;
	font-size: 22px;
	margin: 0 8px;
	content: attr(data-octicons);
}
