<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/assets/css/normalize.css'>
		<link rel='stylesheet' href='/assets/css/milligram.min.css'>
		<link rel='stylesheet' href='/assets/css/style.css'>
		<link rel='stylesheet' href='/assets/css/pygments.css'>
		<link rel='stylesheet' href='/assets/css/gfm.min.css'>
		<title>{{ page.title }}</title>
	</head>
	<body data-path='{{ page.url }}'>
		<header>
			<a href='/'>
				<img src='/assets/images/bear.svg'>
			</a>
		</header>

		{{ content }}
	</body>
</html>
