---
layout: base
---

<article data-nwo='{{ site.github.repository_nwo }}' data-sha='{{ page.sha }}'>
	<header>
		<h1>{{ page.title }}</h1>
		<date>{{ page.date | date_to_string }}</date>
	</header>
	<section>
		{{ content }}
	</section>
	{% if page.sha %}
		<section id='comments'>
			<hr>
			<span>Please enable JavaScript to view the <a href='/2018/05/04/github-powered-comments'>comments powered by GitHub.</a></span>
		</section>
	{% endif %}
</article>

<script src='/assets/js/anchor.min.js'></script>
<script src='/assets/js/anchor.js'></script>
{% if page.sha %}
<script src='/assets/js/moment.min.js'></script>
<script src='/assets/js/marked.min.js'></script>
<script src='/assets/js/comments.js' async></script>
{% endif %}
